# Ignore everything
*

# Whitelisted files
!README.md
!nicorc.sh
!setup_monitor

!.surfingkeys.js
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/Code/User/snippets/puts.code-snippets
!.config/ncspot/config.toml
!.config/terminator/config
!.gitignore
!.ssh/config
!.zprezto/init.zsh
!.zprezto/modules/git/alias.zsh
!.zpreztorc
!.zshrc
!.zlogin
!.tmux.conf
!.tmux.conf.local

# Whitelisted folders
!.config/
!.config/autokey/
!.config/autokey/data/
!.config/autokey/data/Nicoscripts
!.config/autokey/data/Nicoscripts/*

# not used but could be useful (urxvt config)
!.urxvt/
!.urxvt/ext
!.urxvt/ext/*
!.Xresources