# Ignore everything
*

# Whitelisted files
!.surfingkeys.js
!.surfingkeys.txt
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/Code/User/snippets/puts.code-snippets
!.config/ncspot/config.toml
!.gitignore
!.ssh/config
!.zprezto/init.zsh
!.zprezto/modules/git/alias.zsh
!.zpreztorc
!.zshrc

# Whitelisted folders
!.config/
!.config/autokey/
!.config/autokey/data/
!.config/autokey/data/Nicoscripts
!.config/autokey/data/Nicoscripts/*