# Ignore everything
*

# Whitelisted files
!.surfingkeys.js
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
!.config/Code/User/snippets/puts.code-snippets
!.config/ncspot/config.toml
!.gitignore
!.ssh/config
!.zprezto/init.zsh
!.zprezto/modules/git/alias.zsh
!.zpreztorc
!.zshrc
!.tmux.conf
!.tmux.conf.local


# Whitelisted folders
!.config/
!.config/autokey/
!.config/autokey/data/
!.config/autokey/data/Nicoscripts
!.config/autokey/data/Nicoscripts/*

!.urxvt/
!.urxvt/ext
!.urxvt/ext/*

# not used but could be useful (urxvt config)
!.Xresources